APP_SERVICES={"IBM Graph": [{"name": "GraphDB","label": "IBM Graph","plan": "Entry","credentials": {"apiURL": "<url>","username": "<username>","password": "<password>"}}],"Discovery": [{"name": "DiscoveryService","label": "Discovery","plan": "Entry","credentials": {"apiURL": "<url>","username": "<username>","password": "<pwd>","environment_id":"<envid>","configuration_id":"<configId>","collection_id":"<collectionid>"}}]}
