APP_SERVICES={"IBM Graph": [{"name": "GraphDB","label": "IBM Graph","plan": "Standard","credentials": {"apiURL": "https://ibmgraph-alpha.ng.bluemix.net/abb9aa68-0dfc-4628-9e00-0438d9488c17/g","username": "e043d8d4-39fd-467d-a325-3a5130dde4cd","password": "885876cd-cab0-45ee-9db7-9c49e8e94834"}}],"discovery": [{"name": "DiscoveryService","label": "discovery","plan": "free","credentials": {"apiURL": "https://gateway.watsonplatform.net/discovery/api","username": "01fc7bcc-959e-492f-8986-f8006116f014","password": "password"}}]}
environment_id="c1cebfb0-0cc5-4c4b-b4e3-76733852e736"
configuration_id="be94907f-e7cc-4915-95f5-84dcc23ae5e7"
collection_id="e804e587-e7b2-4c1a-8a38-f69bc60d6d22"
