
# Credentials for JanusGraph and Discovery services
APP_SERVICES={"compose-for-janusgraph":[{"name": "GraphDB","label": "IBM Graph","plan": "Standard","credentials": {"apiURL": "<add_janusgraph_url>","username": "admin","password": "<add_janusgraph_password>"}}],"discovery": [{"name": "DiscoveryService","label": "discovery","plan": "free","credentials": {"apiURL": "https://gateway.watsonplatform.net/discovery/api","username":"<add_discovery_username>","password": "<add_discovery_password>"}}]}

# Discovery data IDs
environment_id="<add_discovery_environment_id>"
configuration_id="<add_discovery_configuration_id>"
collection_id="<add_discovery_collection_id>"
